<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.cn.ncvt.mapper.EmployeeMapper">
	    <select id="selectAllEmployee"  resultType="Employee">
			select e.*,d.name as departmentName,p.name as positionName,n.name as nationName,ps.name as politiclName,j.name as jobLevelName
            from employee e,department d,position p,nation n,political_status ps,job_level j
            where e.departmentId=d.id and e.politiclId=ps.id and e.positionId=p.id and e.jobLevelId=j.id
            and e.nationId=n.id
          <if test="name != null and name != '' " >
            and e.name like '%${name}%'
          </if>
          <if test="departmentId != null and departmentId != '' " >
            and e.departmentId=#{departmentId}
          </if>
          <if test="positionId != null and positionId != '' " >
            and e.positionId=#{positionId}
          </if>
          <if test="jobLevelId != null and jobLevelId != '' " >
            and e.jobLevelId=#{jobLevelId}
          </if>
	    </select>
		<insert id="insertFun" parameterType="employee">
	  insert into employee (workId, name,
      sex, nationId, birthday,
      politiclId, wedlock, nativePlace,
      idCard, email, phone,
      address, departmentId, jobLevelId,positionId,
      titopDegree, specialty, school,
      beginDate, workState, conversionTime,
      quitTime, beginContract, endContract
      )
    values (#{workId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{sex,jdbcType=VARCHAR}, #{nationId,jdbcType=INTEGER}, #{birthday,jdbcType=DATE},
      #{politiclId,jdbcType=INTEGER}, #{wedlock,jdbcType=CHAR}, #{nativePlace,jdbcType=VARCHAR},
      #{idCard,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}, #{jobLevelId,jdbcType=INTEGER},#{positionId,jdbcType=INTEGER},
      #{titopDegree,jdbcType=CHAR}, #{specialty,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR},
      #{beginDate,jdbcType=DATE}, #{workState,jdbcType=CHAR}, #{conversionTime,jdbcType=DATE},
      #{quitTime,jdbcType=DATE}, #{beginContract,jdbcType=DATE}, #{endContract,jdbcType=DATE}
      )
		</insert>
  <update id="updateFun" parameterType="employee">
    update employee
    <set>
      <if test="workId != null">
        workId = #{workId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nationId != null">
        nationId = #{nationId,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="politiclId != null">
        politiclId = #{politiclId,jdbcType=INTEGER},
      </if>
      <if test="wedlock != null">
        wedlock = #{wedlock,jdbcType=CHAR},
      </if>
      <if test="nativePlace != null">
        nativePlace = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        idCard = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        departmentId = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="jobLevelId != null">
        jobLevelId = #{jobLevelId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null">
        positionId = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="titopDegree != null">
        titopDegree = #{titopDegree,jdbcType=CHAR},
      </if>
      <if test="specialty != null">
        specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        beginDate = #{beginDate,jdbcType=DATE},
      </if>
      <if test="workState != null">
        workState = #{workState,jdbcType=CHAR},
      </if>
      <if test="conversionTime != null">
        conversionTime = #{conversionTime,jdbcType=DATE},
      </if>
      <if test="quitTime != null">
        quitTime = #{quitTime,jdbcType=DATE},
      </if>
      <if test="beginContract != null">
        beginContract = #{beginContract,jdbcType=DATE},
      </if>
      <if test="endContract != null">
        endContract = #{endContract,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByIdFun" parameterType="Integer">
    delete from employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByIdFun" parameterType="Integer" resultType="Employee">
      select e.*,d.name as departmentName,p.name as positionName,n.name as nationName,ps.name as politiclName,j.name as jobLevelName
      from employee e,department d,position p,nation n,political_status ps,job_level j
      where e.id=#{id} and e.departmentId=d.id and e.politiclId=ps.id and e.positionId=p.id and e.jobLevelId=j.id and e.nationId=n.id
  </select>
	</mapper>

