<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ncvt.mapper.IntegralMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ncvt.entity.Integral" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <association property="employee" javaType="Employee">

      <result column="name" property="name"/>
      <result column="workId" property="workId"/>
      <result column="departmentName" property="departmentName"/>
      <result column="positionName" property="positionName"/>
      <result column="jobLevelName" property="jobLevelName"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, eid, integral
  </sql>
  <select id="selectAllIntegerFile" parameterType="string" resultMap="BaseResultMap" >
    select i.id,i.eid,e.name,e.workId,d.name as departmentName,p.name as positionName,j.name as jobLevelName,i.integral from employee e,position p,department d,job_level j,integral i
    where e.id=i.eid and p.id=e.positionId and d.id=e.departmentId and j.id=e.jobLevelId
    <if test="name != null and name != '' " >
      and e.name like '%${name}%'
    </if>
    <if test="departmentId != null and departmentId != '' " >
      and e.departmentId=#{departmentId}
    </if>
    <if test="positionId != null and positionId != '' " >
      and e.positionId=#{positionId}
    </if>
  </select>

</mapper>