<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ncvt.mapper.MenuRoleMapper">
    <insert id="addMenuRole">
        INSERT INTO menu_role(mid,rid) VALUES
        <foreach collection="checkedKeys" item="key" separator=",">
            (#{key},#{rid})
        </foreach>
    </insert>
    <delete id="deleteByRid" parameterType="int">
        DELETE FROM menu_role WHERE rid=#{rid}
    </delete>
</mapper>