<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.cn.ncvt.mapper.UserMapper">
	    <select id="selectByUserName"  parameterType="string" resultType="User">
			select * from user where username=#{0}
	    </select>
		<select id="selectByUserNameLimit"  parameterType="string" resultType="User">
			select id, name, phone, address, username, userface, enable from user where username=#{0}
	    </select>
		<select id="selectAllFun"  parameterType="string" resultType="User">
			select id, name, phone, address, username, userface, enable from user
	    </select>
        <select id="selectByID"  parameterType="java.lang.Integer" resultType="User">
			select * from user where id = #{id,jdbcType=INTEGER}
	    </select>
        <insert id="insertFun" parameterType="com.cn.ncvt.entity.User" >
        insert into user (id, name, phone, address, username, password, salt,
          userface, enable)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{userface,jdbcType=VARCHAR}, #{enable,jdbcType=TINYINT})
      </insert>
        <delete id="deleteFun" parameterType="java.lang.Integer" >
            delete from user where id = #{id,jdbcType=INTEGER}
      </delete>
	</mapper>