<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.cn.ncvt.mapper.UserMapper">
	    <select id="selectByUserName"  parameterType="string" resultType="User">
			select * from user where username=#{0}
	    </select>
		<select id="selectByUserNameLimit"  parameterType="string" resultType="User">
			select id, name, phone, address, username, userface, enabled from user where username=#{0}
	    </select>
		<select id="selectAllFun"  resultType="User">
			select id, name, phone, address, username, userface, enabled from user
	    </select>
		<select id="selectUserByCondition"  parameterType="string" resultType="User">
			select id, name, phone, address, username, userface, enabled from user
            <if test="name != null and name != '' " >
                where name like '%${name}%'
            </if>
	    </select>
        <select id="selectByID"  parameterType="java.lang.Integer" resultType="User">
			select * from user where id = #{id,jdbcType=INTEGER}
	    </select>
        <select id="insertFun" statementType="CALLABLE" parameterType="User">
          call insertUser(#{name,mode=IN,jdbcType=VARCHAR}, #{phone,mode=IN,jdbcType=VARCHAR},#{address,mode=IN,jdbcType=VARCHAR},#{username,mode=IN,jdbcType=VARCHAR}, #{password,mode=IN,jdbcType=VARCHAR}, #{salt,mode=IN,jdbcType=VARCHAR}, #{userface,mode=IN,jdbcType=VARCHAR}, #{remark,mode=IN,jdbcType=VARCHAR}, #{enabled,mode=IN,jdbcType=BOOLEAN}, #{id,mode=OUT,jdbcType=INTEGER});
      </select>
        <delete id="deleteFun" parameterType="java.lang.Integer" >
            delete from user where id = #{id,jdbcType=INTEGER}
      </delete>
	<update id="updateByEnabled" parameterType="com.cn.ncvt.entity.User" >
		update user set enabled = #{enabled,jdbcType=TINYINT} where id = #{id,jdbcType=INTEGER}
	</update>
	</mapper>